.login-background {
    /*background: url("login-background.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.login-overlay {
    background-color: #DDD;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.login-body {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box-center {
    width: 320px;
    padding: 10px;
    padding-top: 20px;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    border-radius: 10px;
}

.text-login:focus {
    border-color: #12B0A2;
    transition: 0.3s;
}

.text-login {
    margin-bottom: 15px;
    border: 0;
    border-bottom: 2px solid #ccc;
    color: #12B0A2;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.text-login:focus {
  outline: none;
}