html,
body {
    height: 100%;
}

body {
    margin-top: 50px;
}

*, body, div, span, p, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: #3c763d;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.primary-btn{
    background-color: #005E57; 
    border: #005E57; 
}

.card-info:not(.card-outline) .card-header {
    background-color: #005E57;
}

.main-header {
    z-index: 1 !important;
}

/*.main-sidebar {
    z-index: 2 !important;
}*/

@media (min-width: 992px) {
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1000px;
    }
}

@media (min-width: 1400px) {
    .modal-xl {
        max-width: 1200px;
    }
}
.primary-btn{
    background-color: #12B0A2;
    color: #fff;
}
.primary-btn:hover,
.primary-btn:focus{
    background-color: #208880;
    color: #fff;
}
.primary-card:not(.card-outline)>.card-header {
    background-color: #12B0A2;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #12B0A2;
}
.breadcrumb-item a{
    color: #12B0A2;
}
.primary-bg{
    background-color: #12B0A2;
    color: #fff;
}
.primary-clr{
    color: #12B0A2;
}

/* dropdown dropdown */
.downdrop-item {
    display: none;
}

.downdrop-item-active {
    display: block;
}

.downdrop-icon-down {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}